@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.demo {
  background-color: $bgSecondary;
  display: flex;
  flex-direction: line;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;

  @include device(notebook) {
    flex-direction: column;
  }

  //CONTEÚDO DA ESQUERDA
  .esquerda {
    padding-left: 10rem;
  }

  /* Encontrar outra alternativa - essa sombra não atende a responsividade
  .sombra {
    position: absolute;
    z-index: 0;
    right: 0;
    overflow-block: content-box;
    overflow: clip;

    @include device(notebook,) {
      isplay: none;
    }
  
    @include device(mobile) {
      display: none;
    }
  }*/

  img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 20px 20px rgba($cinzaLinhas, 0.8));
    -webkit-filter: drop-shadow(0 20px 20px rgba($cinzaLinhas, 0.8));
    border-radius: 25px;
  }
}

.line {
  border-top: 1px solid $cinzaLinhas;
  margin: 0.5rem auto 1.5rem auto;
  width: 100%;
}

//CONTEÚDO DA DIREITA

.direita {
  padding-left: 10rem;
  align-items: flex-start;
  h2 {
    font-size: 3rem;
  }
}
.content1 {
  display: flex;
  flex-direction: line;
  align-items: flex-start;
  justify-content: space-between;

  @include device(mobile) {
    flex-direction: column;
  }
}
.content2 {
  display: flex;
  flex-direction: line;
  align-items: flex-start;
  justify-content: space-between;

  @include device(mobile) {
    flex-direction: column;
  }
}
