@import '@/styles/variables.scss';

.media {
  display: flex;
  gap: 1rem;
  margin-left: -0.4rem;
  line-height: 45px;
  
  svg {
    height: 4rem;
    width: 4rem;
    color: #858da8;
    padding: 10px;
    background-color: #EBEEF5;
    border-radius: 50%;
    margin: 0 0 0 15px;
    
    
    &:hover {
      cursor: pointer;
      background-color: $azulBtn !important;
      color: $bgPrimary;
      transition: all .3s linear;

    }
  }
}