@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include device(notebook) {
    font-size: 60%;
  }
}

body {
  font-size: 1.6rem;
  background-color: $background;
  font-family: $textFont;
}

h1,
.h1 {
  color: $azulDestaque;
  font-family: $headerFont;
  font-size: 5.8rem;
  font-weight: 400;

  @include device(notebook) {
    font-size: 4.6rem;
  }

  @include device(mobile) {
    font-size: 4.2rem;
  }
}

h2,
.h2 {
  color: $cinzaLetras;
  font-family: $headerFont;
  font-size: 3.8rem;
  font-weight: 400;

  @include device(notebook) {
    font-size: 3.6rem;
  }

  @include device(mobile) {
    font-size: 3.2rem;
  }
}

:is(h3, h4, h5, h6) {
  font-weight: 400;
}

.title {
  font-family: $headerFont;
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 500;

  @include device(mobile) {
    font-size: 3.6rem;
  }

  &.dark-bg {
    color: $secondary;
  }

  &.light-bg {
    color: $darkSecondary;
  }
}

p,
.p {
  color: $cinzaLetras;
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &.dark-bg {
    color: $secondary;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* TRANSFORMAR PX EM REM */

.btn {
  background: transparent;
  border: 2px solid $azulDestaque;
  border-radius: 25px;
  padding: 10px 23px;
  transition: all 0.3s ease;
  min-width: 200px;
  text-align: center;
  height: 41px;
  font-size: 14px;
  
  &.btn-primary {
    
    text-transform: uppercase;
    font-weight: 700;
    color: #007dff!important;
    
    &:hover {
      cursor: pointer;
      color: #ffffff!important;
      background-color: $azulDestaque;
      
    }
  }
}