@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include device(notebook) {
    font-size: 60%;
  }
}

body {
  font-size: 1.6rem;
  background-color: $background;
  font-family: 'Plus Jakarta Sans', sans-serif;

}

h1,
.h1 {
  font-family: $headerFont;
  font-size: 9rem;
  font-weight: 700;
  color: #2c83fb;
  background-image: -webkit-linear-gradient(45deg, #2c83fb 50%, #1f76f0 50%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  @include device(notebook) {
    font-size: 4.6rem;
  }

  @include device(mobile) {
    font-size: 4.2rem;
  }
}

h2,
.h2 {
  color: $cinzaTitulos;
  font-family: $headerFont;
  font-size: 5rem;
  font-weight: 500;

  @include device(notebook) {
    font-size: 3.6rem;
  }

  @include device(mobile) {
    font-size: 3.2rem;
  }
}

:is(h3, h4, h5, h6) {
  color: $cinzaTitulos;
  font-weight: 600;
}

.title {
  font-family: $headerFont;
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 500;

  @include device(mobile) {
    font-size: 3.6rem;
  }

  &.dark-bg {
    color: $cinzaLetras;
  }

  &.light-bg {
    color: $cinzaLetras;
  }
}

p,
.p {
  color: $cinzaLetras;
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 400;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &.dark-bg {
    color: $cinzaLetras;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* TRANSFORMAR PX EM REM */

.btn {
  
  border: 2px solid $azulBtn;
  
  text-transform: uppercase;
  transition: all .3s linear;
  text-align: center;
  font-size: 14px;
  
  &.btn-header {
    background: transparent;
    padding: 6px 20px;
    border-radius: 25px;
    border-bottom-left-radius: inherit;
    min-width: 200px;
    height: 41px;
    font-weight: 700;
    color: $azulBtn!important;
    
  
    &:hover {
      cursor: pointer;
      color: #ffffff!important;
      background-color: $azulBtn;
    }
  }

  &.btn-demo {
    background-color: $azulBtn;
    display: inline-block;
    padding: 14px 30px;
    color: $bgPrimary;
    border-radius: 45px;
    border: 1px solid $azulBtn;
    
    

    &:hover {
      cursor: pointer;
      color: $azulBtn!important;
      background: $bgPrimary;
    }
  }
}


    