// colors
$primary: #ffffff;
$lightPrimary: #e6f3ff;

$secondary: #e0d0a8;
$lightSecondary: #f9eeda;
$mediumSecondary: #c1c1aa;
$lightDarkSecondary: #f9FCFF;
$darkSecondary: #615a49;

$background: #ffffff;
$black: #000000;

$azulDestaque: #0183ff;
$azulLetras: #007dff;
$cinzaLetras: #2c3e50;
$cinzaLinhas: #c8d4dd;

// font
$headerFont: 'Inter', sans-serif;
$textFont: 'Inria Serif', serif;