// colors
$primary: #ffffff;
$lightPrimary: #f0f8ff;;

$secondary: #e0d0a8;
$lightSecondary: #f9eeda;
$mediumSecondary: #c1c1aa;
$lightDarkSecondary: #f9FCFF;
$darkSecondary: #615a49;

$background: #ffffff;
$black: #000000;

$azulDestaque: #2c83fb;
$azulLetras: #1f76f0;
$azulBtn: #007dff;
$cinzaLetras: #1c3c50;
$cinzaLinhas: #c8d4dd;
$cinzaTitulos: #2c3e50;
$bgPrimary: #ffffff;
$bgSecondary: #f0f8ff;


// font
$headerFont: 'Plus Jakarta Sans', sans-serif;
$textFont: 'Plus Jakarta Sans', serif;



          
        
