@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.header {
  background-color: $bgSecondary;
  min-height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 6rem;
  overflow-x: clip;

  .content {
    text-align: center;
    max-width: 100rem;
    padding: 0 1rem;

    .line {
      border-top: 1px solid $cinzaLinhas;
      margin: 0.5rem auto 1.5rem auto;
      width: 100%;
    }

    p {
      margin-bottom: 2rem;
    }
  }

}


// PARTE DO LOGO ACIMA DO TÍTULO
.detail1 {
  position: relative;
  bottom: 4.3rem;
  right: 3rem;

  @include device(notebook) {
    right: -10rem;
    bottom: 6rem;
  }
}



