@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.rowLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer {
  background-color: $bgPrimary;
  padding-left: 6rem;
  padding-right: 6rem;

  @include device(notebook) {
    padding: 6rem 2rem;
    padding-bottom: 1rem;
  }

  @include device(tablet) {
    padding: 6rem 1rem;
  }

  span {
    display: block;
    text-align: center;
    color: $cinzaLetrasFooter;
    opacity: 0.6;
  }

  p {
    opacity: 0.8;
  }

  a {
    color: $azulLetras;
  }
  .line {
    border-top: 1px solid $cinzaLinhas;
    opacity: 0.4;
  }
  .content {
    @include max-width;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    margin-bottom: 4rem;

    @include device(notebook) {
      flex-direction: column;
      gap: 4rem;
      align-items: center;
      max-width: 60rem;
      margin-bottom: 4rem;
    }

    .columns {
      flex-grow: 1;
      margin-bottom: 4rem;

      h3 {
        margin-left: 1rem;
        margin-bottom: 5rem;
        color: $black;
        font-size: large;
      }

      ul {
        li {
          color: $cinzaLetrasFooter;
          opacity: 0.9;
          font-size: 1.6rem;

          &:hover {
            cursor: pointer;
            color: $azulBtn !important;
          }

          &:not(:last-of-type) {
            margin-bottom: 2rem;
          }
        }
      }
      @include device(notebook) {
        max-width: none;
      }
    }
  }
}
